body{
  height: 100%;
  background: linear-gradient(315deg, #6d23aa, #0b54bf);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main{
  width: 90% ;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
}

.sticker{
  background-color: #ef3b30;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  color: #f2f2f2;
  margin-bottom: 2rem;
}

.sticker h1{
  font-size: 2rem;
  margin: 10px;
  padding: 0;
}

.sticker .name{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 6rem;
  background-color: #f2f2f2;
  margin: 0 0 20px 0;
  color: #1e1e20;
  align-items: center;
  justify-content: center;
}

.sticker .name p{
  font-size: 2rem;
  font-family: 'Marker';
  margin: 10px;
  padding: 0;
  text-align: center;
}

.status {
  background-color: #161618;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  color: #f2f2f2;
}

.status h2{
  font-size: 1.5rem;
  margin: 10px;
  padding: 0;
}

.status .metrics{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 90%;

  margin: 0 0 20px 0;
}

.status .metrics .measure{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: #1e1e20;
  border-radius: 25px;
  margin: 5px 0;
}

.metrics .measure svg{
  width: 30px;
  height: 30px;
  margin: 5px 10px 5px 20px;
}

.metrics .measure .measure_name{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin: 5px 0;
}

.metrics .measure .measure_value{
  border-radius: 8px;
  background-color: #3a3a3a;
  margin: 0;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 5px 10px;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  color: rgba(208, 208, 208,.3);

}

.container {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container img {
  width: 100%;
}

.commands-viewer {
  width: 100%;
}

.commands-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.commands-buttons h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.commands-buttons button {
  width: 30%;
  font-size: 1rem;
  padding: 5px;
  margin: 5px 0;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}