:root {
  --pixel-size:4;
}

html{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  width: 95% ;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}


main{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sticker{
  background-color: #1b1b1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  color: #f2f2f2;
  margin-bottom: 2rem;
}

.sticker h1{
  margin: 10px;
  padding: 0;
  
}

.sticker .name{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticker .name p{
  font-size: 2rem;
  margin: 10px;
  padding: 0;
  text-align: center;
}

.robot_live {
  background-color: #1b1b1d;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 45%;
  border-radius: 15px;
  color: #f2f2f2;
}

.robot_live .character {
  width: calc(64px * var(--pixel-size));
  height: calc(64px * var(--pixel-size));
  overflow: hidden;
  background-color: #262627;
  border-radius: 15px;
  
}

.robot_live .character .spritesheet{
  animation: moveSpritesheet 2s steps(8) infinite;
  width: calc(512px * var(--pixel-size));
  image-rendering: pixelated;
  position: relative;
}

.moveright{
  top: calc(0px * var(--pixel-size));
}

.moveleft{
  top: calc(-64px * var(--pixel-size));
}

.movedown{
  top: calc(-128px * var(--pixel-size));
}

.moveup{
  top: calc(-192px * var(--pixel-size));
}

.greet{
  top: calc(-256px * var(--pixel-size));
}

.not{
  top: calc(-320px * var(--pixel-size));
}

.yes{
  top: calc(-384px * var(--pixel-size));
}

.special{
  top: calc(-448px * var(--pixel-size));
}

.description{
  background-color: #1b1b1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25%;
  border-radius: 15px;
  color: #f2f2f2;
}

.description h2{
  font-size: 1.5rem;
  margin: 10px;
  padding: 0;
}
.description p{
  font-size: 1rem;
  width: 90%;
  padding: 0;
  text-align: center;
  margin: 10px;
}

.control_panel{
  background-color: #1b1b1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 15px;
  color: #f2f2f2;
}

.control_panel h2{
  font-size: 1.5rem;
  margin: 10px;
  padding: 0;
}

.control_panel .Actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 350px;
  margin: 0;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 5px 0;
}

/* Aside status */
aside{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.status {
  background-color: #1b1b1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
  border-radius: 15px;
  color: #f2f2f2;
}

.status h2{
  font-size: 1.5rem;
  margin: 10px;
  padding: 0;
}

.status .metrics{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: 0 0 20px 0;
}

.status .metrics .measure{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: #262627;
  border-radius: 25px;
  margin: 5px 0;
}

.metrics .measure svg{
  width: 30px;
  height: 30px;
  margin: 5px 10px 5px 20px;
}

.metrics .measure .measure_name{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin: 5px 0;
}

.metrics .measure .measure_value{
  border-radius: 8px;
  background-color: #3a3a3a;
  margin: 0;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 5px 10px;
}

.plug_io {
  background-color: #1b1b1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  color: #f2f2f2;
  height: 20%;
}

.plug_io h2{
  font-size: 1.5rem;
  margin: 10px;
  padding: 0;
}

.plug_button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 10px 20px;
  background-color: #262627;
  border-radius: 25px;
  margin: 5px 0;
}


.control_panel .Actions .movement{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #262627;
  border-radius: 25px;
  margin: 5px;
}


footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  color: rgba(208, 208, 208,.8);

}

@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}